body{
    font-family: "helvetica";
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 0;
}
#background{
    height: 100vh;
    width: 100vw;

    }

.header{
    position: fixed;
    display: inline-block;
    background: white;
    width: 100vw;
    top: 0;
    margin: 0;
    height: 15vh;
    z-index: 1;
    border-bottom: black 2px solid;
}
.filter{
    display: block;
    margin: auto;
}

button{
   padding: .3rem .6rem;

    cursor: pointer;
    border:none;
    outline:  .5px black;

    background: rgba(255, 255, 255,0);
    font-size: .75rem;
}
button:focus{
    outline-color: none;
    border-radius: 0;
}
.clicked {
    font-style: italic;

    }

div{
    display: inline;
}

.sort{
display: inline-block;
}

h1{
    display: inline-block;
    font-family: "helvetica";
    font-weight: 400;
    font-size: 4rem;
    padding-right: 5%;
}

h2{
    font-family: "helvetica";
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: -15px;
    padding-left: 2.5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: black 2px solid;
    cursor: pointer;
}

/* */

h3{
    font-size: .75rem;
}
a{
    font-size: .75rem;
}

.info{
    position: fixed;
    width: 30vw;
    right: 0;
    height: 100vh;

    top: 15vh;
    border-left: black 2px solid;
}

.song-container {
text-align: left;

position: relative;
top: 15vh;

display: inline-block;
width: 70vw;


}
.song-container.active{
    font-style: italic;
}


.song-image{
    display: none;
    margin: auto;
    height: auto;
 
}

.song-image.active{
    display: block;
    width: 25vw;
    margin-top: 2.5vw;
    height: auto;
}


.song-spotify {
    display: none;
  }
  
  .song-spotify.active {
    display: block;
    margin-bottom: 10px;
  }

  .song-artist {
    display: none;
  }
  
  .song-artist.active {
    display: block;
  }

  .song-title-info{
      display: none;
  }

  .song-title-info.active{
    display: block;
  
}