body{
    font-family: "helvetica";
    margin: 0;
    padding: 0;
}

.container{
    margin: 0;
    padding: 0;
}
#background{
    height: 100vh;
    width: 100vw;
     background-color: #c5b99e;
    background-image: radial-gradient(
      circle farthest-corner at top left, rgba(197,255,234,1) 0%, rgba(255, 255, 255, 0.692) 50%),
        radial-gradient(
        circle farthest-side at top right, rgba(181, 176, 177,1) 0%, rgba(172,239,240,.5) 10%),
    radial-gradient(circle farthest-corner at bottom right, rgba(160,215,238,0.5956757703081232) 0%, rgba(204, 104, 119, 0) 33%),
        radial-gradient(
        circle farthest-corner at top right, rgba(255,255,255,1) 0%, rgba(172,239,240,.2) 50%),
      radial-gradient(ellipse at bottom center, rgba(160,238,233,0.5592612044817927) 50%, rgba(255,255,255,.5) 100%);
    position: fixed;
    z-index: -100;
   top: 0;
    }


button{
    padding: 1rem;
    background: lightblue;
    cursor: pointer;
}

.clicked {
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    }


h2{
    font-size: 20px;
}

/* */


.song-container {

    display: inline-block;
    margin: 2rem;

}



.song-image {
display: none;
}



.song-image.active {
    display: block;
    width: 7vw;
    height: auto;
    display: block;

 /*    margin-left: auto;
    margin-right: auto; */
}

.song-spotify {
    display: none;
  }
  
  .song-spotify.active {
    display: block;
  }